.mcard{
    padding: 20px;
    background-color: rgba(244, 248, 242, 0.801);
    border-radius: 20px;
}

.p-inp{
    padding: 14px;
}

.wmw{
    width: 100vw;
    height: 80.82vh;
}

.wim{
    width: 100%;
    height: 100%;
    object-fit: cover;
}