<div class="mb-5">
    <div class="position-absolute return onClickstyle" (click)="upValue('hAll', 'hRepo')">
        <i class="fi fi-br-arrow-left"></i>
    </div>

    <div class="container w-3k d-flex justify-content-center p-1 flex-column">
        <h1 class="align-self-center ft-500 cl-grn" style="margin-bottom: 40px;">Reportes</h1>
        <table class="mtable w-100 align-self-center border-radius">
            <thead>
                <tr class="bgcl-grn text-center">
                    <th class="ft-400 cl-wh fs-ms">Fecha</th>
                    <th class="px-5 ft-400 cl-wh fs-ms">Hora</th>
                    <th class="ft-400 cl-wh fs-ms">Tipo</th>
                    <th class="ft-400 cl-wh fs-ms">Observaciones</th>
                    <th class="ft-400 cl-wh fs-ms">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="ft-300 fs-ms">04/05/2024</th>
                    <th class="ft-300 fs-ms">10:30 A.m</th>
                    <th class="ft-300 fs-ms">Horario</th>
                    <th class="ft-300 fs-ms">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea at eligendi pariatur quas quidem perspiciatis a labore, molestias, error perferendis, odit in et sunt incidunt deserunt. Dolorem, beatae vero?</th>
                    <th class="p-1 ft-300 fs-ms">
                        <i class="fi fi-br-edit me-3 cl-lbl onClickstyle"></i>
                        <i class="fi fi-br-trash ms-3 cl-rd onClickstyle"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button>
</div>
