<div class="mb-5">
    <div class="position-absolute return onClickstyle" (click)="upValue('hAll', 'hGrup')">
        <i class="fi fi-br-arrow-left"></i>
    </div>
    
    <div class="container d-flex justify-content-center p-1 flex-column w-3k">
        <h1 class="align-self-center ft-500 cl-grn" style="margin-bottom: 40px;">Grupos</h1>
        <table class="mtable w-100 align-self-center border-radius">
            <thead>
                <tr class="bgcl-grn text-center">
                    <th class="ft-400 cl-wh fs-ms">Código</th>
                    <th class="ft-400 cl-wh fs-ms">Asignatura</th>
                    <th class="ft-400 cl-wh fs-ms">Cupos</th>
                    <th class="ft-400 cl-wh fs-ms">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="ft-300 fs-ms">J4</th>
                    <th class="ft-300 fs-ms">Inteligencia artificial I</th>
                    <th class="ft-300 fs-ms">4</th>
                    <th class="ft-300 fs-ms">
                        <i class="fi fi-br-edit me-3 cl-lbl onClickstyle"></i>
                        <i class="fi fi-br-trash ms-3 cl-rd onClickstyle"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    
    <button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button>
</div>

