<div class="md-5">
    <div class="position-absolute return" (click)="upValue('hAll', 'hAul')">
        <i class="fi fi-br-arrow-left"></i>
    </div>
    
    <div class="container w-3k d-flex justify-content-center p-1 flex-column">
        <h1 class="align-self-center ft-500 cl-grn" style="margin-bottom: 40px;">Aulas</h1>
        <table class="mtable w-100 align-self-center border-radius">
            <thead>
                <tr class="bgcl-grn text-center">
                    <th class="ft-400 cl-wh fs-ms">Código</th>
                    <th class="ft-400 cl-wh fs-ms">Descripcion</th>
                    <th class="ft-400 cl-wh fs-ms">Capacidad</th>
                    <th class="ft-400 cl-wh fs-ms">Edificio</th>
                    <th class="ft-400 cl-wh fs-ms">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="ft-300 fs-ms">Ct305</th>
                    <th class="ft-300 fs-ms">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quae ducimus itaque voluptate temporibus, voluptatibus veniam saepe mollitia fugit deleniti eius praesentium earum, ullam impedit possimus unde provident ea rerum!</th>
                    <th class="ft-300 fs-ms">45</th>
                    <th class="ft-300 fs-ms">Camilo Torres</th>
                    <th class="ft-300 fs-ms">
                        <i class="fi fi-br-edit me-3 cl-lbl"></i>
                        <i class="fi fi-br-trash ms-3 cl-rd"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    
    <button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button>    
</div>

