<div class="container w-50 p-3 mt-1">
    <div class="card p-3 bgcl-gy">
        <div class="card-body d-flex justify-content-between">
            <h2 class="ft-cl-bl">Administrador <br> <span>Rol</span></h2>
            <button class="btn h-50 btn-mdg d-flex justify-content-center align-items-center"><i class="fi fi-br-power"></i> </button>
        </div>
        <div class="card-body d-flex justify-content-center flex-column">
            <button class="btn btn-mgr w-50 align-self-center my-2" >Asignaturas</button>
            <button class="btn btn-mgr w-50 align-self-center my-2">Grupos</button>
            <button class="btn btn-mgr w-50 align-self-center my-2">Profesores</button>
            <button class="btn btn-mgr w-50 align-self-center my-2">Aulas</button>
            <button class="btn btn-mgr w-50 align-self-center my-2">Edificios</button>
            <button class="btn btn-mgr w-50 align-self-center my-2">Reportes</button>
            <button class="btn btn-mgr w-50 align-self-center my-2">Gestion de Usuarios</button>
        </div>
</div>