<div> 
    <div class="position-absolute return"><i class="fi fi-br-arrow-left"></i></div>

    <div class="container d-flex justify-content-center p-1 flex-column w-2k" style="margin-top: 38px;">
        <h1 class="mb-5 align-self-center ft-500 cl-grn">Asignaturas</h1>
        <table class="mtable w-100 align-self-center border-radius">
            <tr class="bgcl-grn text-center">
                <th class="p-1 ft-400 cl-wh fs-ms">Código</th>
                <th class="p-1 ft-400 cl-wh fs-ms">Nombre</th>
                <th class="p-1 ft-400 cl-wh fs-ms">Horas teóricas</th>
                <th class="p-1 ft-400 cl-wh fs-ms">Horas prácticas</th>
                <th class="p-1 ft-400 cl-wh fs-ms">Acciones</th>
            </tr>
            <tr>
                <th class="p-1 ft-300 fs-ms">22968</th>
                <th class="p-1 ft-300 fs-ms">Sistemas de informacion</th>
                <th class="p-1 ft-300 fs-ms">4</th>
                <th class="p-1 ft-300 fs-ms">0</th>
                <th class="p-1 ft-300 fs-ms"><i class="fi fi-br-edit me-3 cl-lbl"></i><i class="fi fi-br-trash ms-3 cl-rd"></i></th>
            </tr>
            <tr>
                <th class="p-1 ft-300 fs-ms">22917</th>
                <th class="p-1 ft-300 fs-ms">Inteligencia artificial I</th>
                <th class="p-1 ft-300 fs-ms">4</th>
                <th class="p-1 ft-300 fs-ms">0</th>
                <th class="p-1 ft-300 fs-ms"><i class="fi fi-br-edit me-3 cl-lbl"></i><i class="fi fi-br-trash ms-3 cl-rd"></i></th>
            </tr>
        </table>
    </div>
    
    <button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button>
</div>
