<div class="mb-5">
    <div class="position-absolute return onClickstyle" (click)="upValue('hAll', 'hProf')">
        <i class="fi fi-br-arrow-left"></i>
    </div>
    
    <div class="container w-3k d-flex justify-content-center p-1 flex-column">
        <h1 class="align-self-center ft-500 cl-grn" style="margin-bottom: 40px;">Profesores</h1>
        <table class="mtable w-100 align-self-center border-radius">
            <thead>
                <tr class="bgcl-grn text-center">
                    <th class="ft-400 cl-wh fs-ms">Nombres</th>
                    <th class="ft-400 cl-wh fs-ms">Apellidos</th>
                    <th class="ft-400 cl-wh fs-ms">Documento</th>
                    <th class="ft-400 cl-wh fs-ms">Teléfono</th>
                    <th class="ft-400 cl-wh fs-ms">Correo</th>
                    <th class="ft-400 cl-wh fs-ms">Usuario</th>
                    <th class="ft-400 cl-wh fs-ms">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="ft-300 fs-ms">Alejandro</th>
                    <th class="ft-300 fs-ms">Mantilla</th>
                    <th class="ft-300 fs-ms">10027381</th>
                    <th class="ft-300 fs-ms">31333333333</th>
                    <th class="ft-300 fs-ms">alejandro&#64;correo.uis.edu.co</th>
                    <th class="ft-300 fs-ms">alejmantilla</th>
                    <th class="ft-300 fs-ms">
                        <i class="fi fi-br-edit me-3 cl-lbl onClickstyle"></i>
                        <i class="fi fi-br-trash ms-3 cl-rd onClickstyle"></i>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
    
    <button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button>
    
</div>
