
<div class="position-absolute return"><i class="fi fi-br-arrow-left"></i></div>

<div class="container w-auto d-flex justify-content-center p-1 flex-column" style="margin-top: 38px;">
    <h1 class="mb-5 align-self-center ft-500 cl-grn">Reportes</h1>
    <table class="mtable w-100 align-self-center border-radius">
        <tr class="bgcl-grn text-center">
            <th class="p-1 px-4 ft-400 cl-wh fs-ms">Fecha</th>
            <th class="p-2 px-4 ft-400 cl-wh fs-ms">Hora</th>
            <th class="p-1 px-4 ft-400 cl-wh fs-ms">Tipo</th>
            <th class="p-1 ft-400 cl-wh fs-ms">Observaciones</th>
            <th class="p-1 px-4 ft-400 cl-wh fs-ms">Acciones</th>
        </tr>
        <tr>
            <th class="p-1 ft-300 fs-ms">04/05/2024</th>
            <th class="p-1 ft-300 fs-ms">10:30 A.m</th>
            <th class="p-1 ft-300 fs-ms">Horario</th>
            <th class="p-1 ft-300 fs-ms">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea at eligendi pariatur quas quidem perspiciatis a labore, molestias, error perferendis, odit in et sunt incidunt deserunt. Dolorem, beatae vero?</th>
            <th class="p-1 ft-300 fs-ms"><i class="fi fi-br-edit me-3 cl-lbl"></i><i class="fi fi-br-trash ms-3 cl-rd"></i></th>
        </tr>
        <tr>
            <th class="p-1 ft-300 fs-ms">04/05/2024</th>
            <th class="p-1 ft-300 fs-ms">10:30 A.m</th>
            <th class="p-1 ft-300 fs-ms">Horario</th>
            <th class="p-1 ft-300 fs-ms">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ea at eligendi pariatur quas quidem perspiciatis a labore, molestias, error perferendis, odit in et sunt incidunt deserunt. Dolorem, beatae vero?</th>
            <th class="p-1 ft-300 fs-ms"><i class="fi fi-br-edit me-3 cl-lbl"></i><i class="fi fi-br-trash ms-3 cl-rd"></i></th>
        </tr>
    </table>
</div>

<button class="btn btn-mstyle d-flex align-items-center justify-content-center position-fixed" style="width: 80px; height: 80px; font-size: 45px; right: 60px; bottom: 60px; border-radius: 25px;">+</button>
